*{
    margin: 0;
}

#countainer{
    background-image: url(../img/spookynight.png);
    background-size: cover;
    height: 400vh;
    display: grid;
    grid-template-rows: 2% 3% 31% 31% 31% 2%;
    grid-template-columns: 15% repeat(4, 1fr);
    grid-template-areas:
    'he he he he he'
    'na na na na na'
    'as s1 s1 s1 s1'
    'as s2 s2 s2 s2'
    'as s3 s3 s3 s3'
    'fo fo fo fo fo'
    ;
}
aside{
    grid-area: as;
}
header{
    grid-area: he;
    background-color: orange;
}
nav{
    grid-area: na;
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section#upper{
    grid-area: s1;
    grid-template-columns: 50% 50%;
    background-color: orangered;
    display: grid;
    grid-template-areas: 
    'arl fig'
    ;
}
    article#left{
        grid-area: arl;
    }
    #img{
        grid-area: fig;
    }

section#middel{
    grid-area: s2;
    background-color: orangered;
    display: grid;
    grid-template-areas: 'a';
}
    article#big{
        grid-area: a;
    }

section#lower{
    grid-area: s3;
    background-color: orangered;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    'au sv'
    'ad ad'
    ;
    
}
    article#uppA{
        grid-area: au;
    }
    article#downA{
        grid-area: ad;
    }
    section#vid{
        grid-area: sv;
        background-color: black;

    }
    video{
        height: 100%;
        width: 100%;
    }

footer{
    grid-area: fo;
    background-color: blanchedalmond;
}

img{
    width: 100%;
    height: 100%;
}

a{
    color:black;
    text-decoration: none;
    background-color: brown;
    padding: 1%;
    text-align: center;
    border-radius: 25%;
    
}
h5{
    text-align: center;
    text-shadow:2px 2px 5px darkblue;
    text-transform: uppercase;
    font-size: 100em;
}