body{
    margin: 1%;
}
#vraper{
    display: grid;
    height: 100vh;
    grid-gap: 1%;
    grid-template-rows: 1fr 8fr 4fr 1fr;
    grid-template-areas: 
    'h h'
    'a1 a2'
    's s'
    'f f'
    ;
}

header{
    grid-area: h;
    background-color: rgb(218, 218, 115);
}
article#a1{
    grid-area: a1;
    background-color: rgb(218, 218, 115);
}
article#a2{
    grid-area: a2;
    background-color: rgb(218, 218, 115);
}
section{
    grid-area: s;
    background-color: rgb(218, 218, 115);
}
footer{
    grid-area: f;
    background-color:  rgb(218, 218, 115);
}